extends layout.pug

block head
    meta(charset="UTF-8")
    title 記事編集
block content
  .page-header
    h1 記事編集
    form(action=`/articles/${article.id}?_method=put` method="post")
        .form-group
            input.form-control(type="text" name="title" value=article.title)
        .form-group
            textarea.form-control(name = "body" rows="10")=article.body
        .form-group
            input.btn.btn-danger.btn-lg(type="submit" value="完了")