extends layout.pug

block head
    meta(charset="UTF-8")
    title ログイン
block content
  .row
    .col-md-6.col-md-offset-3
      .page-header
        h1  ログイン
        form(action="/login" method="post")
          .form-group
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              input.form-control(type="email" name="email")
          .form-group
            .input-group 
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input.form-control(type="password" name="password")
          .form-group
          input.btn-primary.btn-block(type="submit" value="ログイン" )